<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alon.mapper.dao.ProductInfoMapper">
    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id -->
    <resultMap type="com.alon.model.ProductInfo" id="infoMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id" />

        <!-- 定义普通属性 -->
        <result property="spuId" column="spu_id" />
        <result property="price" column="price" />
        <result property="weight" column="weight" />
        <result property="skuName" column="sku_name" />
        <result property="skuDesc" column="sku_desc" />
        <result property="tmId" column="tm_id" />
        <result property="catalog3Id" column="catalog3_id" />
        <result property="skuDefaultImg" column="sku_default_img" />
    </resultMap>
    <select id="getInfo" parameterType="com.alon.model.ProductInfo"
            resultMap="infoMap">
        SELECT
        id,spu_id,price,weight,sku_name,sku_desc,tm_id,catalog3_id,sku_default_img
        FROM product_info p
        <where>
            <if test="id != null">
                p.id = #{id}
            </if>
        </where>
    </select>
</mapper>